/*
Developed by Eric Weitz (https://github.com/eweitz)
*/

body {
    font: 12px Arial;
    line-height: 19.6px;
}

svg {
    padding-left: 5px;
    padding-right: 10px;
}

svg.labeled {
    padding-left: 15px;
}

svg.labeledLeft {
    padding-left: 15px;
    padding-top: 15px;
}

text {
    /*
    Tahoma has excellent readability and
    space utilization at small sizes.
    More: http://ux.stackexchange.com/a/3334
    */
    font: 9px Tahoma;
    fill: #000;
}

.italic {
    font-style: italic;
}

.chromosome {
    cursor: pointer;
}

.ghost {
    opacity: 0.2;
}

.hidden {
    display: none;
}

.bandLabelStalk line {
    stroke: #AAA;
    stroke-width: 1;
}

.chromosomeBorder,
.acen {
    stroke: #000;
    stroke-width: 0.5;
}

.syntenyBorder {
    stroke: #AAA;
    stroke-width: 1;
}

.brush .extent {
    fill: #F00;
    stroke: #F00;
    fill-opacity: .3;
    shape-rendering: crispEdges;
}


/* NCBI stain density colors */

.gneg {
    fill: #FFF
}

.gpos25 {
    fill: #BBB
}

.gpos33 {
    fill: #AAA
}

.gpos50 {
    fill: #888
}

.gpos66 {
    fill: #666
}

.gpos75 {
    fill: #444
}

.gpos100 {
    fill: #000
}

.acen {
    fill: #FDD
}

.stalk {
    fill: #CCE;
}

.gvar {
    fill: #DDF
}


/* Used when overlaid with annotations */

.faint .gneg {
    fill: #FFF
}

.faint .gpos25 {
    fill: #EEE
}

.faint .gpos33 {
    fill: #EEE
}

.faint .gpos50 {
    fill: #EEE
}

.faint .gpos66 {
    fill: #EEE
}

.faint .gpos75 {
    fill: #EEE
}

.faint .gpos100 {
    fill: #DDD
}

.faint .acen {
    fill: #FEE
}

.faint .stalk {
    fill: #EEF;
}

.faint .gvar {
    fill: #EEF
}


/* for side bar */

ul {
    list-style: none;
    padding-left: 10px;
    float: left;
}


/* for linear scale */

.axis {
    shape-rendering: crispEdges;
}

.y.axis line,
.y.axis path {
    fill: none;
    stroke: #000;
}


/* for divs */

#sidebar {
    float: left;
}

#jbrowse {
    width: 100%;
    height: 500px;
    margin-top: 750px;
}

#instructions {
    float: left;
    height: 100px;
    position: absolute;
    margin-top: 450px;
}

#form-render {
    height: 200px;
    width: 250px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    margin-top: 55px;
}

#form-render-qtl {
    height: 200px;
    width: 250px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    margin-top: 250px;
}

#chromosome-render {
    position: absolute;
    margin-left: 250px;
    width: 2000px;    
}

.color-block{
    outline: 3px;
    outline-style: solid;
    width: 8px;
    height: 8px;
    outline-color: white;
    background-color: white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}    

.spinner {
    margin-top: 22%;
}

#divider {
    border: 1px solid #757575;
}

.annot path:hover {
    fill: #424242;
    stroke: #424242;
    transform: translateY(5px);
    -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}

.gene-table {
    margin-top: 850px;
}

table{   
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    margin-bottom: 2em;
    background-color: #212121;
    border: 0;
    border-collapse: collapse;
    color: #EEEEEE;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border: inherit;
}

.table thead tr {
    border-bottom: 1px solid #e1e1e1;
}

.table thead th {
    font-weight: 400;
    color: #3f3f3f;
    vertical-align: bottom;
}

.table caption + thead tr:first-child,
.table colgroup + thead tr:first-child,
.table thead:first-child tr:first-child {
    border-top: 0;
}

.table caption + thead tbody + .table caption + thead tbody,
.table colgroup + thead tbody + .table colgroup + thead tbody,
.table thead:first-child tbody + .table thead:first-child tbody {
    border-top: 1px solid #dedede;
}

.table caption {
    opacity: 0.5;
    font-size: 0.8em;
    text-transform: uppercase;
    font-style: italic;
    text-align: left;
    line-height: 2;
    margin: 1em 0;
}

#gene-table-content {
  /*width: 750px;*/
  position: absolute;
  table-layout: fixed;
  border-collapse: collapse;
}
#gene-table-content th {
  text-decoration: underline;
}
#gene-table-content th,
#gene-table-content td {
  padding: 5px;
  text-align: left;
}
#gene-table-content td:nth-child(1),
#gene-table-content th:nth-child(1) {
  min-width: 50px;
}
#gene-table-content td:nth-child(2),
#gene-table-content th:nth-child(2) {
  min-width: 200px;
}
#gene-table-content td:nth-child(3),
#gene-table-content th:nth-child(3) {
  width: 350px;
}
#gene-table-content thead {
  background-color: #333;
  color: #FDFDFD;
}
#gene-table-content thead tr {
  display: block;
  position: relative;
}
#gene-table-content tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 300px;
}
#gene-table-content tbody tr:nth-child(even) {
  background-color: #DDD;
}
.old_ie_wrapper {
  height: 300px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}
#gene-table-content {
  width: 750px;
  table-layout: fixed;
  border-collapse: collapse;
}
#gene-table-content th {
  text-decoration: underline;
}
#gene-table-content th,
#gene-table-content td {
  padding: 5px;
  text-align: left;
}
#gene-table-content td:nth-child(1),
#gene-table-content th:nth-child(1) {
  min-width: 200px;
}
#gene-table-content td:nth-child(2),
#gene-table-content th:nth-child(2) {
  min-width: 200px;
}
#gene-table-content td:nth-child(3),
#gene-table-content th:nth-child(3) {
  width: 350px;
}
#gene-table-content thead {
  background-color: #333;
  color: #FDFDFD;
}
#gene-table-content thead tr {
  display: block;
  position: relative;
}
#gene-table-content tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 300px;
}
#gene-table-content tbody tr:nth-child(even) {
  background-color: #DDD;
}
.old_ie_wrapper {
  height: 300px;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}
