/*
Developed by Eric Weitz (https://github.com/eweitz)
*/

body {
    font: 12px Arial;
    line-height: 19.6px;
}

svg {
    padding-left: 5px;
    padding-right: 10px;
}

svg.labeled {
    padding-left: 15px;
}

svg.labeledLeft {
    padding-left: 15px;
    padding-top: 15px;
}

text {
    /*
    Tahoma has excellent readability and
    space utilization at small sizes.
    More: http://ux.stackexchange.com/a/3334
    */
    font: 9px Tahoma;
    fill: #000;
}

.italic {
    font-style: italic;
}

.chromosome {
    cursor: pointer;
}

.ghost {
    opacity: 0.2;
}

.hidden {
    display: none;
}

.bandLabelStalk line {
    stroke: #AAA;
    stroke-width: 1;
}

.chromosomeBorder,
.acen {
    stroke: #000;
    stroke-width: 0.5;
}

.syntenyBorder {
    stroke: #AAA;
    stroke-width: 1;
}

.brush .extent {
    fill: #F00;
    stroke: #F00;
    fill-opacity: .3;
    shape-rendering: crispEdges;
}


/* NCBI stain density colors */

.gneg {
    fill: #FFF
}

.gpos25 {
    fill: #BBB
}

.gpos33 {
    fill: #AAA
}

.gpos50 {
    fill: #888
}

.gpos66 {
    fill: #666
}

.gpos75 {
    fill: #444
}

.gpos100 {
    fill: #000
}

.acen {
    fill: #FDD
}

.stalk {
    fill: #CCE;
}

.gvar {
    fill: #DDF
}


/* Used when overlaid with annotations */

.faint .gneg {
    fill: #FFF
}

.faint .gpos25 {
    fill: #EEE
}

.faint .gpos33 {
    fill: #EEE
}

.faint .gpos50 {
    fill: #EEE
}

.faint .gpos66 {
    fill: #EEE
}

.faint .gpos75 {
    fill: #EEE
}

.faint .gpos100 {
    fill: #DDD
}

.faint .acen {
    fill: #FEE
}

.faint .stalk {
    fill: #EEF;
}

.faint .gvar {
    fill: #EEF
}


/* for side bar */

ul {
    list-style: none;
    padding-left: 10px;
    float: left;
}


/* for linear scale */

.axis {
    shape-rendering: crispEdges;
}

.y.axis line,
.y.axis path {
    fill: none;
    stroke: #000;
}


/* for divs */

#sidebar {
    float: left;
}

#jbrowse {
    width: 100%;
    height: 500px;
    margin-top: 750px;
}

#instructions {
    float: left;
    height: 100px;
    position: absolute;
    margin-top: 450px;
}

#form-render {
    height: 200px;
    width: 250px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    margin-top: 55px;
}

#form-render-qtl {
    height: 200px;
    width: 250px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    margin-top: 250px;
}

#chromosome-render {
    position: absolute;
    margin-left: 250px;
    width: 2000px;    
}

.color-block{
    outline: 3px;
    outline-style: solid;
    width: 8px;
    height: 8px;
    outline-color: white;
    background-color: white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}    

.spinner {
    margin-top: 23%;
}

#divider {
    border: 1px solid #757575;
}

.annot path:hover {
    fill: #424242;
    stroke: #424242;
    transform: translateY(5px);
    -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
}